.gradle
/local.properties
/.idea
.DS_Store
/build
.cxx
CMakeCache.txt
CMakeFiles
CMakeLists.txt
ThirdPartyTlsLibrary
/app/app.iml
/app/.externalNativeBuild
/app/.cxx
app/google-services.json
app/src/release/google-services.json
OnlineGo.iml
