.DS_Store

.gradle/
.kotlin/
.idea/
.vscode/

/build/
/app/build/
/app/.externalNativeBuild/
/app/.cxx/

/local.properties
/captures/

*.iml
*.apk
*.aab
*.ap_
*.hprof
*.jks
*.keystore

/gradle/gradle-daemon-jvm.properties

/app/google-services.json
/app/src/release/google-services.json
